{% extends 'base.html' %}

{% block content %}
<h2>Hospital Requests</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Hospital</th>
      <th>City</th>
      <th>Blood Type</th>
      <th>Urgency</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for r in requests %}
    <tr>
      <td>{{ r.hospital_name }}</td>
      <td>{{ r.city }}</td>
      <td>{{ r.blood_type }}</td>
      <td>{{ r.urgency_level }}</td>
      <td>{{ r.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
