{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <h1 class="col-6">Welcome to the Central Blood Bank Management System</h1>
      <p class="m-5">This platform helps manage blood donations, donors, and recipients efficiently. Explore the features to contribute or find the help you need.</p>
      <div class="col-6 pt-5">
        <a href="{% url 'hospital_requests:hospital_request' %}" class="btn btn-primary mb-3">Request for Blood</a>
      </div>
    </div>
  </div>
{% endblock %}
